{
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles.css",
  "overrides": [{ "files": "*.html", "options": { "parser": "angular" } }]
}
